{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id='container'>
  <div id='header'>
  </div>
  <div id="menu">
    {% include "microblog/menu.html" %}
  </div>
  <div id="content">
    {% if form.errors %}
    <p style="color: red;">Proszę poprawić poniższe błędy</p>
    {% endif %}

    <form action="." method="POST">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="Dodaj" />
    </form>
  </div>
</div>
