{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        {% include "microblog/menu.html" %}
    </div>
    <div id="content">
        {{ info }}
        <form action="{% url 'n_dodajwpis' %}" method="post">
            {% csrf_token %}
            <p>
                Tytuł: <input type="text" name="article_title" id="article_title" maxlength="100" value="{{ title }}"/>
            </p>
            <p style="margin-bottom: 0">
                Treść:
            </p>
            <p style="margin-top: 0">
                <textarea rows="10" cols="50" name="article_content" id="article_content" maxlength="500" value="{{ content }}">Wpisz treść artykułu...</textarea>
            </p>
            <p>
                <input type="submit" value="Dodaj" />
            </p>
        </form>
    </div>
</div>
