{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        {% include "microblog/menu.html" %}
    </div>
    <div id="content">
        <form action="{% url 'n_logowanie' %}" method="post">
            {% csrf_token %}
            <p style="color:red"><b>{{ info }}</b></p>
            <p>
                Login: <input type="text" name="login" id="login" maxlength="30"/>
            </p>
            <p>
                Hasło: <input type="password" name="password" id="password" maxlength="30"/>
            </p>
            <input type="submit" value="Zaloguj" />
        </form>
        <p>
            Jeśli nie masz jeszcze konta to zarejestruj się <a href="{% url 'n_rejestracja' %}">Tutaj</a>
        </p>
    </div>
</div>