{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'microblog/style.css' %}" />

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        {% include "microblog/menu.html" %}
    </div>
    <div id="content">
        <h3>Wpisy:</h3>
        {% if latest_tweet_list %}
            <ul>
            {% for tweet in latest_tweet_list %}
                <li>
                    <hr>
                    <span style="font-weight: bold">Autor: </span><span style="font-style: italic">{{ tweet.author }}</span></br>
                    <span style="font-weight: bold">Tytuł: </span><span style="font-style: italic">{{ tweet.title }}</span></br>
                    <span style="font-weight: bold">Data wpisu: </span>{{ tweet.pub_date }}</br>
                    <span style="font-weight: bold">Treść:</span>
                    <p style="text-indent: 20px;margin-top: 0px;">{{ tweet.content }}</p>
                    <hr />
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Niestety nie ma jeszcze żadnych wpisów :(</p>
        {% endif %}
    </div>
</div>
